<div class="wrapper">
  <div class="side_bar">
    <div class="side_header">
      <%= render "side_bar" %>
    </div>
    <div class="side_member">
    </div>
  </div>
  <div class="chat">
    <div class="main_header">
      <%= render "main_chat" %>
    </div>
    <div class="main_messages">
    </div>
    <div class="main_footer">
    </div>
  </div>
</div>