.wrapper {
  display: flex;
}

.side_bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side_header{
  height: 100px;
  padding: 0 20px;
}

.side_member{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.main_header{
  height: 100px;
  padding: 0 40px;
}

.main_messages{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main_footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}